Source: ros-kinetic-object-recognition-ros-visualization
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-kinetic-catkin, ros-kinetic-object-recognition-msgs, ros-kinetic-object-recognition-ros, ros-kinetic-pluginlib, ros-kinetic-rviz
Homepage: wg-perception.github.io/object_recognition_ros
Standards-Version: 3.9.2

Package: ros-kinetic-object-recognition-ros-visualization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-kinetic-object-recognition-msgs, ros-kinetic-object-recognition-ros, ros-kinetic-pluginlib, ros-kinetic-rviz
Description: object_recognition_ros_visualization contains rviz plugins to visualize ork detection results
